---
---

//
// IMPORTS
//

@import "_bootstrap-custom";
@import "_bootswatch";

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $gray;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $gray-light;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post { 
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

//
// Sticky footer
//

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $gray-lighter;
}