---
---

//
// IMPORTS
//

@import "bootstrap-custom";
@import "bootswatch";
@import "font-awesome-custom";

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $gray;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .banner
//
$banner-padding:              15px !default;
$banner-color:                inherit !default;
$banner-bg:                   $gray-lighter !default;
$banner-heading-color:        inherit !default;
$banner-font-size:            ceil(($font-size-base * 1.2)) !default;

.banner {
  padding: $banner-padding;
  margin-bottom: $banner-padding;
  color: $banner-color;
  background-color: $banner-bg;

  h1,
  .h1 {
    color: $banner-heading-color;
  }
  p {
    margin-bottom: ($banner-padding / 2);
    font-size: $banner-font-size;
    font-weight: 200;
  }

  > hr {
    border-top-color: darken($banner-bg, 10%);
  }

  .container & {
    border-radius: $border-radius-large; // Only round corners at higher resolutions if contained in a container
  }

  .container {
    max-width: 100%;
  }

  @media screen and (min-width: $screen-sm-min) {
    padding-top:    ($banner-padding * 1.6);
    padding-bottom: ($banner-padding * 1.6);

    .container & {
      padding-left:  ($banner-padding * 2);
      padding-right: ($banner-padding * 2);
    }

    h1,
    .h1 {
      font-size: ($font-size-base * 2.5);
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $gray-light;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post { 
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}