{% if site.footer-links.dribbble %}
     <li><a href="http://dribbble.com/{{ site.footer-links.dribbble }}"><span class="fa fa-dribbble"></span></a></li>
{% endif %}
{% if site.footer-links.email %}
     <li><a href="mailto: {{ site.footer-links.email }}"><span class="fa fa-envelope"></span></a></li>
{% endif %}
{% if site.footer-links.facebook %}
     <li><a href="http://facebook.com/{{ site.footer-links.facebook }}"><span class="fa fa-facebook-square"></span></a></li>
{% endif %}
{% if site.footer-links.flickr %}
     <li><a href="http://flickr.com/{{ site.footer-links.flickr }}"><span class="fa fa-flickr"></span></a></li>
{% endif %}
{% if site.footer-links.github %}
     <li><a href="http://github.com/{{ site.footer-links.github }}"><span class="fa fa-github"></span></a></li>
{% endif %}
{% if site.footer-links.instagram %}
     <li><a href="http://instagram.com/{{ site.footer-links.instagram }}"><span class="fa fa-instagram"></span></a></li>
{% endif %}
{% if site.footer-links.linkedin %}
     <li><a href="http://linkedin.com/in/{{ site.footer-links.linkedin }}"><span class="fa fa-linkedin-square"></span></a></li>
{% endif %}
{% if site.footer-links.pinterest %}
     <li><a href="http://pinterest.com/{{ site.footer-links.pinterest }}"><span class="fa fa-pinterest"></span></a></li>
{% endif %}
{% if site.footer-links.rss %}
     <li><a href="{{ site.baseurl }}/feed.xml"><span class="fa fa-rss-square"></span></a></li>
{% endif %}
{% if site.footer-links.twitter %}
     <li><a href="http://twitter.com/{{ site.footer-links.twitter }}"><span class="fa fa-twitter"></span></a></li>
{% endif %}
{% if site.footer-links.stackoverflow %}
     <li><a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><span class="fa fa-stack-overflow"></span></a></li>
{% endif %}
