<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}">

  <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/pure-min.css" />

  <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/grids-responsive-old-ie-min.css">
    <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/grids-responsive-min.css">
  <!--<![endif]-->

  <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/blog-old-ie.css">
    <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/blog.css">
  <!--<![endif]-->

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

</head>

<body>
  <div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
      <div class="header">

        <h1 class="brand-title">{{ site.name }}</h1>

        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="{{ site.baseurl }}" class="pure-button">Home</a>
            </li>
            <li class="nav-item">
              <a href="{{ site.baseurl }}/about/" class="pure-button">About</a>
            </li>
            <li class="nav-item">
              <a href="{{ site.baseurl }}/archive/" class="pure-button">Archive</a>
            </li>
          </ul>
        </nav>

      </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
      {{ content }}
    </div>
  </div>

  {% include analytics.html %}
</body>

</html>
